 
<header>
    <div class="container">
      <a class="logo" routerLink= "/">My App</a>
      <nav>
        <ul>
          <li><a href="#" routerLink= "/">Home</a></li>
          <li><a href="#" routerLink= "/values">Values</a></li>
          <li><a href="#" routerLink= "/students">Students</a></li>
          <li><a href="#" routerLink= "/posts">Posts</a></li>
          <li><a href="#" routerLink= "/myposts">MyPosts</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>



